<div class="forth">
    <header class="forth-header">
        <img src="./../../assets/public/png/logo.png" alt="" class="logo">
        <span class="forth-header-right">
            <span class="header-nav-right-button">New Customer?</span>
            <span class="simple-button">
                <a class="simple-button-text">Try For Free</a>
                <i class="fa fa-angle-right simple-button-icon"></i>
            </span>
        </span>
    </header>

    <form class="forth-form">
        <span class="forth-form-qoute">
            <h4 class="forth-form-qoute-title">
                Sign In
            </h4>
            <p class="forth-form-qoute-details">
                Welcome back
            </p>
        </span>

        <div class="forth-form-input">
            <span class="forth-form-input-group">
                <label class="forth-form-input-group-label">Email/Username</label>
                <input type="text" class="forth-form-input-group-data">
            </span>

            <span class="forth-form-input-group">
                <label class="forth-form-input-group-label">Password</label>
                <span class="forth-form-input-group-multidata">
                    <input type="password" class="forth-form-input-group-multidata-text">
                    <img src="./../../assets/public/svg/eye.svg" alt="" class="forth-form-input-group-multidata-icon">
                </span>
            </span>

            <button class="forth-form-input-submit">Log In</button>

            <h3 class="forth-form-input-title">Forgot Password?</h3>

            <span class="forth-form-input-suggestions">
                -Or sign in with: 
                <img src="./../../assets/public/png/integrations/outlook.png" alt="" class="forth-form-input-suggestions-icon">
                <img src="./../../assets/public/png/integrations/linkedin.png" alt="" class="forth-form-input-suggestions-icon">
                <img src="./../../assets/public/png/integrations/google.png" alt="" class="forth-form-input-suggestions-icon">
            </span>
        </div>

        
    </form>

    <span class="forth-footer">
        © 2020 Oneburner.com. All Rights Reserved. 
    </span>
</div>