<div class="first">
    <app-header></app-header>

    <section class="first-sectionA">
        <div class="first-sectionA-qoute">
            <h4 class="first-sectionA-qoute-title">
                Collaborate with your team and get more done
            </h4>
            <p class="first-sectionA-qoute-details">
                Communicate effectively with Oneburner for easy collaboration, team work and remote work
            </p>
            <button class="simple-button">
                <a class="simple-button-text">Start Free Trial</a>
                <i class="fa fa-angle-right simple-button-icon"></i>
            </button>
        </div>
        <img src="./../../assets/public/png/lanidng-image.png" alt="" class="first-image">
    </section>

    <app-companies></app-companies>

    <section class="first-sectionC">
        <span class="first-sectionC-item">CRM & Sales</span>
        <span class="first-sectionC-item">Human Resources</span>
        <span class="first-sectionC-item">Marketing</span>
        <span class="first-sectionC-item">Remote Work</span>
        <span class="first-sectionC-item">Project Management</span>
        <span class="first-sectionC-item">Social Media</span>
    </section>

    <section class="first-sectionD">
        <div class="qoute">
            <h4 class="qoute-title">
                Manage team activities all in one place
            </h4>
            <p class="qoute-details">
                Keep your team organized and informed with activites that are up to date.
            </p>
        </div>
        <img src="./../../assets/public/svg/video.svg" alt="" class="first-image">
    </section>

    <section class="first-sectionE">
        <section class="first-sectionE-A">
            <img src="./../../assets/public/svg/frames/Frame 2 1.svg" alt="" class="first-image">
            <div class="qoute">
                <h4 class="qoute-title">
                    Bring your team up to speed
                </h4>
                <p class="qoute-details">
                    Collaborate on projects from start to finish, see information at a glance, add comments, attachment
                    and more wirh Oneburner.
                </p>
            </div>
        </section>
        <section class="first-sectionE-B">
            <div class="qoute">
                <h4 class="qoute-title">
                    Automated task timeline
                </h4>
                <p class="qoute-details">
                    View dates, projects, calender, sprint and more with reliability.
                </p>
            </div>
            <img src="./../../assets/public/svg/frames/Rectangle 22.svg" alt="" class="first-image">
        </section>
    </section>

    <app-integrations></app-integrations>

    <section class="first-sectionG">
        <section class="first-sectionG-A">
            <img src="./../../assets/public/svg/frames/report board.svg" alt="" class="first-image">
            <div class="qoute">
                <h4 class="qoute-title">
                    Timeless report generator
                </h4>
                <p class="qoute-details">
                    You can generate quick report of activites of all that has to do with the daily running of your
                    business and teams.
                </p>
            </div>
        </section>
        <section class="first-sectionG-B">
            <div class="qoute">
                <h4 class="qoute-title">
                    Efficient lead management
                </h4>
                <p class="qoute-details">
                    Track and manage prospective customers. Manage their notes, emails, meetings, calls, contacts and
                    files.
                </p>
            </div>
            <img src="./../../assets/public/svg/frames/Rectangle 19.svg" alt="" class="first-image">
        </section>
        <section class="first-sectionG-C">
            <img src="./../../assets/public/svg/frames/support.svg" alt="" class="first-image">
            <div class="qoute">
                <h4 class="qoute-title">
                    24/7 customer support
                </h4>
                <p class="qoute-details">
                    Our team of responsible members is always available to help you all day long and ready to meet your
                    demand. Reach out to us and we will always be there.
                </p>
            </div>
        </section>
    </section>

    <section class="first-sectionH">
        <h4 class="first-sectionH-title">
            Choose a better way to work
        </h4>
        <p class="first-sectionH-details">
            No credit cards | No additional installation | No time wasting
        </p>
        <button class="simple-button">
            <a class="simple-button-text">Start my free trial</a>
            <i class="fa fa-angle-right simple-button-icon"></i>
        </button>
    </section>

    <app-footer></app-footer>
</div>